
.sidebarItem:hover{

    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-background-color: black;
}


.sliderItem:hover{

    -fx-border-width: 0px 0px 0px 3px;
    -fx-background-color: #cc00cc;
}



.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:    #440a67;
}
.table-view .column-header .label{

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
}
.table-row-cell:selected .text {
    -fx-fill : white ;

}
